body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


button {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(250, 230, 206);
}

button:active {
    background-color: rgb(243, 207, 164);
    border-color: azure;
}

.outer-container {
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;
    min-width: 466px;
}

.header {
    display: flex;
    font-size: 32px;
    align-items: flex-end;
}

.game-container {
    font-size: 32px;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: center;
    min-height: 47px;
    gap: 25px;
    margin: 20px 0;
}

.image {
    width: 240px;
    height: 140px;
    align-self: flex-end;
}

button#restart {
    display: none;
    width: fit-content;
    align-self: center;
    margin-top: 16px;
}

#computer, #player {
    display: flex;
    justify-content: space-between;
    margin-right: 88px;
    margin-left: 88px;
    min-height: 22px;
}

#computer .choice,
#player .choice {
    font-size:larger;
}


#choiceContainer {
    min-height: 140px;
    width: 375px;
    border: 2px solid black;
    align-self: center;
    background-color: rgb(232, 232, 232);
}

#choiceContainer > p {
    font-size: 20px;
}

#winner {
    font-size: 14px;
    margin-top: 12px;
}

#main-image {
    align-self: flex-start;
    margin-bottom: 80px;

}
