body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


button {
    width: 100px;
    padding: 10px;
    font-size: 20px;
}

.header {
    display: flex;
    font-size: 32px;
    align-items: flex-end;
}

.game-container {
    font-size: 32px;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}

#choices {
    margin-bottom: 20px;
    min-height: 70px;
}

#main-image {
    align-self: flex-start;
    margin-bottom: 80px;
}